# Data Wrangling or Data Munging

Here we will concentrate on the following sub-sections of this methodology:

1> Data collection: To understand different data retrieval mechanisms for 
                    different data types. -> in very brief

2> Data description: To understand various attributes and properties of the
                     data collected. -> in very brief

3> Data wrangling: To prepare data for consumption in the modeling steps.

4> Data visualization: To visualize different attributes for sharing results, better understanding, and so on.  -> "Covered through matplotlib"

Data Collection  -> (Covered under /pandas_for_data_analysis/data-retrieval)
---------------
Data is at the center of everything around us. This presents the fact that it must be present in different formats, shapes, and sizes. Its omnipresence also means that it exists in systems such as legacy machines (say mainframes), web (say web sites and web applications), databases, flat files, sensors, mobile devices, and so on.

For Machine Learning we need data. Data can be collected from various sources like : CSV (Comma Separated Values), JSON (Java Script Object Notation), XML or eXtensible Markup Language, Web Scraping, SQL to query databases.

Data could be structured or un-structured.

Data Description
----------------
Data colleceted has various data types like :

a> Numeric : Numeric data represents scalar information about entities being observed, for instance, number of visits to a web site, price of a product, weight of a person, and so on. For handling numeric data, we use techniques such as normalization, binning, quantization, and many more to transform numeric data as per our requirements.

b> Text : Data comprising of unstructured, alphanumeric content is one of most common data types. Textual data when representing human language content contains implicit grammatical structure and meaning. This type of data requires additional care and effort for transformation and understanding.

c> Categorical : This data type stands in between the numeric and text. Categorical variables refer to categories of entities being observed. For instance, hair color being black, brown, blonde and red or economic status as low, medium, or high. The values may be represented as numeric or alphanumeric, which describe properties of items in consideration. Based on certain characteristics, categorical variables can be seen as:

• Nominal: These define only the category of the data point without any ordering possible. For instance, hair color can be black, brown, blonde, etc., but there cannot be any order to these categories.

• Ordinal: These define category but can also be ordered based on rules on the
context. For example, people categorized by economic status of low, medium, or
high can be clearly ordered/sorted in the respective order.

Data wrangling or data munging is the process of cleaning, transforming, and mapping data from one form to another to utilize it for tasks such as analytics, summarization, reporting, visualization, and so on.

Data wrangling is one of most important and involving steps in the whole Data Science workflow. The output of this process directly impacts all downstream steps such as exploration, summarization, visualization, analysis and even the final result. This clearly shows why Data Scientists spend a lot of time in Data Collection and Wrangling.

In [2]:
# import required libraries
import random
import datetime 
import numpy as np
import pandas as pd
from random import randrange
from sklearn import preprocessing

from IPython.display import display

pd.options.mode.chained_assignment = None
import warnings; warnings.simplefilter('ignore')  # to suppress warnings

## Utilities

>>> The dataset in consideration has been generated using standard Python libraries like random, datetime, numpy, pandas, and so on. This dataset has been generated using a utility function called generate_sample_data().

>>> Students can ignore the Utilities code and concentrate on the common data munging part, which starts as "Generate sample data set"

In [3]:
def _random_date(start,date_count):
    """This function generates a random date based on params
    Args:
        start (date object): the base date
        date_count (int): number of dates to be generated
    Returns:
        list of random dates

    """
    current = start
    while date_count > 0:
        curr = current + datetime.timedelta(days=randrange(42))
        yield curr
        date_count-=1


def generate_sample_data(row_count=100):
    """This function generates a random transaction dataset
    Args:
        row_count (int): number of rows for the dataframe
    Returns:
        a pandas dataframe

    """
    
    # sentinels
    startDate = datetime.datetime(2016, 1, 1,13)
    serial_number_sentinel = 1000
    user_id_sentinel = 5001
    product_id_sentinel = 101
    price_sentinel = 2000
    
    
    # base list of attributes
    data_dict = {
    'Serial No': np.arange(row_count)+serial_number_sentinel,
    'Date': np.random.permutation(pd.to_datetime([x.strftime("%d-%m-%Y") 
                                                    for x in _random_date(startDate,
                                                                          row_count)]).date
                                  ),
    'User ID': np.random.permutation(np.random.randint(0,
                                                       row_count,
                                                       size=int(row_count/10)) + user_id_sentinel).tolist()*10,
    'Product ID': np.random.permutation(np.random.randint(0,
                                                          row_count,
                                                          size=int(row_count/10))+ product_id_sentinel).tolist()*10 ,
    'Quantity Purchased': np.random.permutation(np.random.randint(1,
                                                                  42,
                                                                  size=row_count)),
    'Price': np.round(np.abs(np.random.randn(row_count)+1)*price_sentinel,
                      decimals=2),
    'User Type':np.random.permutation([chr(random.randrange(97, 97 + 3 + 1)) 
                                            for i in range(row_count)])
    }
    
    # introduce missing values
    for index in range(int(np.sqrt(row_count))): 
        data_dict['Price'][np.argmax(data_dict['Price'] == random.choice(data_dict['Price']))] = np.nan
        data_dict['User Type'][np.argmax(data_dict['User Type'] == random.choice(data_dict['User Type']))] = np.nan
        data_dict['Date'][np.argmax(data_dict['Date'] == random.choice(data_dict['Date']))] = np.nan
        data_dict['Product ID'][np.argmax(data_dict['Product ID'] == random.choice(data_dict['Product ID']))] = 0
        data_dict['Serial No'][np.argmax(data_dict['Serial No'] == random.choice(data_dict['Serial No']))] = -1
        data_dict['User ID'][np.argmax(data_dict['User ID'] == random.choice(data_dict['User ID']))] = -101
        
    
    # create data frame
    df = pd.DataFrame(data_dict)
    
    return df
    

def describe_dataframe(df=pd.DataFrame()):
    """This function generates descriptive stats of a dataframe
    Args:
        df (dataframe): the dataframe to be analyzed
    Returns:
        None

    """
    print("\n\n")
    print("*"*30)
    print("About the Data")
    print("*"*30)
    
    print("Number of rows::",df.shape[0])
    print("Number of columns::",df.shape[1])
    print("\n")
    
    print("Column Names::",df.columns.values.tolist())
    print("\n")
    
    print("Column Data Types::\n",df.dtypes)
    print("\n")
    
    print("Columns with Missing Values::",df.columns[df.isnull().any()].tolist())
    print("\n")
    
    print("Number of rows with Missing Values::",len(pd.isnull(df).any(1).nonzero()[0].tolist()))
    print("\n")
    
    print("Sample Indices with missing data::",pd.isnull(df).any(1).nonzero()[0].tolist()[0:5])
    print("\n")
    
    print("General Stats::")
    print(df.info())
    print("\n")
    
    print("Summary Stats::")
    print(df.describe())
    print("\n")
    
    print("Dataframe Sample Rows::")
    display(df.head(5))
    
def cleanup_column_names(df,rename_dict={},do_inplace=True):
    """This function renames columns of a pandas dataframe
       It converts column names to snake case if rename_dict is not passed. 
    Args:
        rename_dict (dict): keys represent old column names and values point to 
                            newer ones
        do_inplace (bool): flag to update existing dataframe or return a new one
    Returns:
        pandas dataframe if do_inplace is set to False, None otherwise

    """
    if not rename_dict:
        return df.rename(columns={col: col.lower().replace(' ','_') 
                    for col in df.columns.values.tolist()}, 
                  inplace=do_inplace)
    else:
        return df.rename(columns=rename_dict,inplace=do_inplace)

def expand_user_type(u_type):
    """This function maps user types to user classes
    Args:
        u_type (str): user type value
    Returns:
        (str) user_class value

    """
    if u_type in ['a','b']:
        return 'new'
    elif u_type == 'c':
        return 'existing'
    elif u_type == 'd':
        return 'loyal_existing'
    else:
        return 'error'

## Generate a Sample Dataset

In [4]:
df = generate_sample_data(row_count=1000)

### Describe the Dataset

In [5]:
describe_dataframe(df)

******************************
About the Data
******************************
Number of rows:: 1000
Number of columns:: 7


Column Names:: ['Serial No', 'Date', 'User ID', 'Product ID', 'Quantity Purchased', 'Price', 'User Type']


Column Data Types::
 Serial No               int32
Date                   object
User ID                 int64
Product ID              int64
Quantity Purchased      int32
Price                 float64
User Type              object
dtype: object


Columns with Missing Values:: ['Date', 'Price']


Number of rows with Missing Values:: 61


Sample Indices with missing data:: [3, 4, 5, 9, 15]


General Stats::
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
Serial No             1000 non-null int32
Date                  969 non-null object
User ID               1000 non-null int64
Product ID            1000 non-null int64
Quantity Purchased    1000 non-null int32
Price                 969 non-null float64
User Type             1000 non-null object
dtypes: float64(1), int32(2), int64(2), object(2)
memory usage: 39.1+ KB
None


Summary Stats::
         Serial No      User ID   Product ID  Quantity Purchased        Price
count  1000.000000  1000.000000  1000.000000         1000.000000   969.000000
mean   1451.053000  5525.524000   591.316000           21.219000  2311.280609
std     384.070676   349.662731   279.436338           11.958597  1623.155035
min      -1.000000  -101.000000     0.000000            1.000000     0.970000
25%    1224.750000  5279.000000   356.000000           11.000000   962.280000
50%    1480.500000  5534.000000   578.000000           21.500000  2056.780000
75%    1737.250000  5796.250000   808.500000           32.000000  3371.320000
max    1999.000000  5998.000000  1083.000000           41.000000  8481.130000


Dataframe Sample Rows::

,Serial No,Date,User ID,Product ID,Quantity Purchased,Price,User Type
0,1000,2016-10-01,-101,0,2,1873.31,n
1,1001,2016-08-02,5982,692,30,6377.70,n
2,1002,2016-10-01,5412,268,18,1746.93,n
3,1003,NaN,5970,1083,26,1276.04,n
4,1004,NaN,5961,212,2,1526.24,n

### Rename Columns

In [5]:
print("Dataframe columns:\n{}".format(df.columns.tolist()))

Dataframe columns:
['Serial No', 'Date', 'User ID', 'Product ID', 'Quantity Purchased', 'Price', 'User Type']

In [6]:
cleanup_column_names(df)

In [7]:
print("Dataframe columns:\n{}".format(df.columns.tolist()))

Dataframe columns:
['serial_no', 'date', 'user_id', 'product_id', 'quantity_purchased', 'price', 'user_type']

### Sort Rows on defined attributes

In [6]:
# .. type your code here



# first sorted on serial_no, all products having same serial_no sorted on price

### Rearrange Columns in a Dataframe

In [7]:
# .. type your code here

### Filtering Columns

Using Column Index

In [8]:
# print 10 values from column at index 3
print(df.iloc[:,3].values[0:10])

Using Column Name

In [9]:
# print 10 values of quantity purchased
print(df.quantity_purchased.values[0:10])

Using Column Datatype

In [10]:
# print 10 values of columns with data type float
print(df.select_dtypes(include=['float64']).values[:10,0])
# we are printing only 0th column, i.e price

### Filtering Rows

Select specific rows

In [ ]:
display(df.iloc[[10,501,20]]) # i -> implicit indexing

Exclude Specific Row indices

In [11]:
display(df.drop([0,2,5], axis=0).head())
# note : axis=1 would give error as, indexes 0,2,5 don't appear column wise
# default axis is 0

Conditional Filtering

In [ ]:
display(df[df.quantity_purchased>25].head())

Offset from top of the dataframe

In [ ]:
display(df[100:].head())

Offset from bottom of the dataframe

In [12]:
display(df[-10:].head()) # 1000th row is the last row - 10 = 990

### TypeCasting/Data Type Conversion

In [ ]:
df['date'] = pd.to_datetime(df.date)
# compare dtypes of the original df with this one
print(df.dtypes)

### Apply/Map Usage

Map : Create a derived attribute using map. map() works element wise.

In [13]:
df['user_class'] = df['user_type'].map(expand_user_type)
# map function applies the user defn method expand_user_type to each value of 
# user_type
display(df.tail())

# -- expand_user_type function is defn in the Utilities. 
# -- Its body is shown here just for reference.
#  def expand_user_type(u_type):
#   if u_type in ['a','b']:
#   return 'new'
#   elif u_type == 'c':
#   return 'existing'
#   elif u_type == 'd':
#   return 'loyal_existing'
#   else:
#   return 'error'

Apply: Using apply to get attribute ranges

In [14]:
# The apply() function is used to perform actions on the whole object, 
# depending upon the axis (default is on all rows).
display(df.select_dtypes(include=[np.number]).apply(lambda x: 
                                                        x.max()- x.min()))

Applymap: Extract week from date

In [15]:
df['purchase_week'] = df[['date']].applymap(lambda dt:dt.week 
                                                if not pd.isnull(dt.week) 
                                                else 0)

# lambda fn gets the week of the transaction from the date attribute

In [16]:
 display(df.head()) # display() is defined under Utilities

### Missing Values

Imputing Missing Values : Missing values can lead to all sorts of problems when dealing with Machine Learning and Data Science related use cases. Not only can they cause problems for algorithms, they can mess up calculations and even final outcomes. 

Missing values also pose risk of being interpreted in non-standard ways as well leading to confusion and more errors. Hence, imputing missing values carries a lot of weight in the overall data wrangling process.

One of the easiest ways of handling missing values is to ignore or remove them altogether from the dataset. When the dataset is fairly large and we have enough samples of various types required, this option can be safely exercised. We use the dropna() function from pandas in the following snippet to remove rows of data where the date of transaction is missing.

In [17]:
print("Drop Rows with missing dates::" )
df_dropped = df.dropna(subset=['date'])
display(df_dropped.head())

# # dropna -> drops not available values

Fill Missing Price values with mean price

In [18]:
# Often dropping rows is a very expensive and unfeasible option. 
# In many scenarios, missing values are imputed using the help of other 
# values in the dataframe. One commonly used trick is to replace missing
# values with a central tendency measure like mean or median.
# fillna -> fills not available values
df_dropped['price'].fillna(value=np.round(df.price.mean(),decimals=2),
                                inplace=True)
df_dropped['price'].head()

Fill Missing user_type values with value from previous row (forward fill)

In [ ]:
print("Fill Missing user_type values with value from previous row (forward fill) ::" )
df_dropped['user_type'].fillna(method='ffill',inplace=True)
df_dropped.head()

Fill Missing user_type values with value from next row (backward fill)

In [ ]:
df_dropped['user_type'].fillna(method='bfill',inplace=True)
# keeping inplace true writes the new data in the data set itself.

### Duplicates

Drop Duplicate serial_no rows

In [19]:
# sample duplicates
# duplicated is a build-in fn
display(df_dropped[df_dropped.duplicated(subset=['serial_no'])].head())
print("Shape of df={}".format(df_dropped.shape))

In [20]:
# drop_duplicates is a build-in function 
df_dropped.drop_duplicates(subset=['serial_no'],inplace=True)

In [21]:
# updated dataframe
display(df_dropped.head())
print("Shape of df={}".format(df_dropped.shape))

Remove rows which have less than 3 attributes with non-missing data

In [22]:
# there are certain conditions where a record is not much of use 
# if it has more than a certain threshold of attribute values missing. 
# For instance, if in our dataset a transaction has less than three
# attributes as non-null, the transaction might almost be unusable. 
# In such a scenario, it might be advisable to drop that data point itself. 
# We can filter out such data points using the function dropna() 
# with the parameter thresh set to the threshold of non-null attributes

display(df.dropna(thresh=3).head())
print("Shape of df={}".format(df.dropna(thresh=3).shape))

### Encode Categoricals

One Hot Encoding using get_dummies()

In [23]:
# method to convert the categorical variable into indicator variables 
# use the get_dummies() function.
display(pd.get_dummies(df,columns=['user_type']).head())

Label Mapping

In [24]:
# using the map() function, where we simply map each value 
# from the allowed set to a numeric value
type_map={'a':0,'b':1,'c':2,'d':3,np.NAN:-1}
df['encoded_user_type'] = df.user_type.map(type_map)
display((df.tail()))

### Random Sampling data from DataFrame

In [25]:
display(df.sample(frac=0.2, replace=True, random_state=42).head())
# explaination for replace parameter
# when sampling the records are removed from the orginal dataset, so that
# their is no repetition of samples in the o/p.
# but if the size of the sample is greater than the dataset itself then keep
# replace = true

### Normalizing Numeric Values

Attribute normalization is the process of standardizing the range of values of attributes. Machine learning algorithms in many cases utilize distance metrics, attributes or features of different scales/ranges which might adversely affect the calculations or bias the outcomes. Normalization is also called feature scaling.

Normalize price values using  **Min-Max Scaler**

In [26]:
df_normalized = df.dropna().copy()
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df_normalized['price'].values.reshape(-1,1))
df_normalized['price'] = np_scaled.reshape(-1,1)

# reshape(-1,1) works like this :
# -1 means we dont know the no. of rows. hence it would take len(df).
# the 2nd parameter being 1 -> means I want only 1 column
# ex: assume z is 2D numpy array and z.shape is (3,4) 
# z.reshape(-1) would give you a 1D np.array
# now z.shape would be (12,)  like 
# array([1,2,3,4,5,6,7,8,9,10,11,12])
# and reshaping it as z.reshape(-1,1) would give us (12,1). 
# i.e 1 column with all row values.

In [ ]:
display(df_normalized.head())

Normalize quantity purchased values using  **Robust Scaler**

In [27]:
df_normalized = df.dropna().copy()
robust_scaler = preprocessing.RobustScaler()
rs_scaled = robust_scaler.fit_transform(df_normalized['quantity_purchased'].values.reshape(-1,1))
df_normalized['quantity_purchased'] = rs_scaled.reshape(-1,1)

# interested people may research the maths behind min-max scaler and
# robust_scaler.

In [ ]:
display(df_normalized.head())

### Data Summarization

Data summarization refers to the process of preparing a compact representation of raw data at hand. This process involves aggregation of data using different statistical, mathematical, and other methods. Summarization is helpful for visualization, compressing raw data, and better understanding of its attributes.

Condition based aggregation

In [ ]:
print("Mean price of items purchased by user_type=a :: {}".format(df['price'][df['user_type']=='a'].mean()))

Condtion based counts

In [ ]:
print(df['purchase_week'].value_counts())
# counts the number of transactions per week

### Group By

Group By certain attributes

In [ ]:
print(df.groupby(['user_class'])['quantity_purchased'].sum())
# This statement generates a tabular output representing 
# sum of quantities purchased by each user_class.

Group By with different aggregate functions

In [28]:
# The groupby() function is a powerful interface that allows us 
# to perform complex groupings and aggregations.
# With groupby() we can perform multi-attribute groupings 
# and apply multiple aggregations across attributes.

# variant-1: multiple aggregations on single attribute
display(df.groupby(['user_class'])['quantity_purchased'].agg([np.sum,
                                                                np.mean,
                                                                np.count_nonzero]))

Group by specific aggregate functions for each attribute

In [29]:
# variant-2: different aggregation functions for each attribute
display(df.groupby(['user_class','user_type']).agg({'price':np.mean,
                                                        'quantity_purchased':np.max}))

Group by with multiple agg for each attribute

In [30]:
# Variant 3: Here, we do a combination of variants 1 and 2, 
# i.e., we apply multiple aggregations on the price field while 
# applying only a single one on quantity_purchased. 
# Note : a dictionary is passed, as shown in the snippet.
display(df.groupby(['user_class','user_type']).agg({'price':{  'total_price':np.sum,
                                                                'mean_price':np.mean,
                                                                'variance_price':np.std,
                                                                'count':np.count_nonzero},
                                                   'quantity_purchased':np.sum}))

Recommeded work :
-----------------
Apart from groupby() based summarization, other functions such as pivot(), pivot_table(), stack(), unstack(), crosstab(), and melt() provide capabilities to reshape the pandas dataframe as per requirements. 

A complete description of these methods with examples is available as part of pandas documentation at 
https://pandas.pydata.org/pandas-docs/stable/reshaping.html. 
I recommend you to go through the same.

### Pivot Tables

In [32]:
display(df.groupby(['user_class','user_type']).agg({'price':{  'total_price':np.sum,
                                                                'mean_price':np.mean,
                                                                'variance_price':np.std,
                                                                'count':np.count_nonzero},
                                                   'quantity_purchased':np.sum}))  

# pivot table shows us comprehensive information of mean price 
# date-wise , user_type wise